@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	background: #141414;
	font-family: 'Ubuntu', sans-serif;
	padding: 20px;
}

::-webkit-scrollbar {
	border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #181818;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #282828;
}